{% extends "accounts/auth_base.html" %}

{% block title %}회원가입 · Caffeine Diary{% endblock %}

{% block auth_title %}sign up{% endblock %}

{% block auth_fields %}
<div class="cd-auth__field-row">
  <input type="text" id="cd-signup-username" name="username" class="cd-auth__input" placeholder="id :" autocomplete="username" required>
</div>

<div class="cd-auth__field">
  <input type="password" id="cd-signup-password" name="password" class="cd-auth__input" placeholder="password:" autocomplete="new-password" required>
</div>
<p class="cd-auth__hint">
  비밀번호를 8자 이상 입력해주세요<br>
  (숫자, 대문자, 소문자 포함)
</p>
{% endblock %}

{% block auth_submit_label %}회원가입하기{% endblock %}

{% block extra_js %}
<script>
  document.getElementById('cd-auth-form')?.setAttribute('data-auth-mode', 'signup');
</script>
{% endblock %}