{% extends "base.html" %}
{% load static %}

{% block title %}밤샘모드 설정{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/allnight_setup.css' %}">
{% endblock %}

{% block content %}
<div class="chat_page">
    <div class="chat_frame" id="chatFrame" data-redirect-url="{% url 'diary:allnight-mode' %}">
        <div class="chat_container" id="chatContainer">

            <div class="chatbot">
                <div class="bot_profile">
                    <img src="{% static 'images/chatbot_icon.svg' %}" alt="" class="bot_icon">
                    <span class="bot_name">caffeine bot</span>
                </div>
                <p class="bot_bubble">오늘은 몇 시까지 밤샐 예정인가요? (예: 08:00)</p>
            </div>
        </div>

        <div class="chat_input_container">
            <input type="text" class="chat_input" id="chatInput" placeholder="예: 08:00" autocomplete="off">
            <button type="button" class="send_btn" id="sendBtn">
                <img src="{% static 'images/send_icon.svg' %}" alt="전송">
            </button>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script>
    window.CAFFEINE_ICON_URL = "{% static 'images/caffeine_icon.svg' %}";
</script>
<script src="{% static 'js/allnight_setup.js' %}"></script>
{% endblock %}
