{% extends "base.html" %}
{% load static %}

{% block title %}마이페이지{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/mypage.css' %}">
{% endblock %}

{% block content %}
<div class="mypage_stage">
    <div class="decor_layer">
        <img src="{% static 'images/grid_bgimg.svg' %}" alt="" class="grid_bgimg">
        <img src="{% static 'images/coffee_bgimg.svg' %}" alt="" class="coffee_bgimg">
        <img src="{% static 'images/pencil_bgimg.svg' %}" alt="" class="pencil_bgimg">
    </div>

    <div class="mypage_cards">
        <img src="{% static 'images/mypage_card.svg' %}" alt="" class="mypage_card_bg">

        <div class="mypage_content">
            <div class="mypage_title">
                <h2>
                    <span id="mypage-nickname">닉네임</span>
                    <span id="mypage-nickname-edit" class="mypage_nickname_edit" hidden>
                        <input type="text" id="mypage-nickname-input" class="mypage_nickname_input" maxlength="150"
                            aria-label="닉네임">
                    </span>
                    <span>님</span>
                </h2>
                <div class="edit_wrap">
                    <img src="{% static 'images/edit_btn.svg' %}" alt="" class="edit_btn_bg">
                    <button class="edit_btn" id="mypage-edit-btn">
                        <span id="mypage-edit-label">수정</span>
                        <img src="{% static 'images/edit_icon.svg' %}" alt="수정 아이콘" class="edit_icon">
                    </button>
                </div>
            </div>

            <div class="stat_row">
                <span class="stat_label stat_label-weight">나의 체중</span>
                <div class="stat_box stat_box-weight">
                    <span id="mypage-weight">-</span>
                    <input type="number" id="mypage-weight-input" class="mypage_edit_input" step="0.1" min="1" hidden>
                    <span class="unit">kg</span>
                </div>
            </div>

            <div class="stat_row">
                <span class="stat_label stat_label-sleep">목표 수면 시간</span>
                <div class="stat_box stat_box-sleep">
                    <span id="mypage-sleep">-</span>
                    <input type="time" id="mypage-sleep-input" class="mypage_edit_input" hidden>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/mypage.js' %}"></script>
{% endblock %}